---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import {getPosts} from '../../utils/getPosts'

export async function getStaticPaths() {
	
    const posts = await getPosts();

	return posts.map((post) => {
	  return {
		params: { id: post.id },
		props: { post },
	  };
	});
  }
  
  export async function getStaticProps({ params }) {

    const posts = await getPosts();

    const post = posts.find(post => post.id.toString() === params.id);

    return {
        props: {
            title: post.title,
            description: post.description,
            content: post.content,
            imgPath: post.imgPath
        }
    };
}

const { id } = Astro.params;

const {post: {title, description, content, imgPath}} = Astro.props;
---

<DefaultLayout>

    <div class="py-4">
        <article class="bg-gradient-to-t from-rose-950/90 to-gray-400/80 text-white max-w-4xl max-h-sm mx-auto px-5 py-4 flex flex-col gap-2 rounded-lg shadow-xl">
            
            <h2 class="text-2xl font-bold pb-6">
                {title}
            </h2>
            
            <img 
                src={imgPath} 
                alt="imágen de mujer con laptop"
                class="rounded h-48 w-full md:h-96 md:w-full m-auto object-cover">
            <p class="font-bold p-4">
                {description}
            </p>
            <p class="p-4 shadow-inner rounded-lg" style="box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2)">
               { content } 
            <p>
        </article>
    </div>
</DefaultLayout>