---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Button } from "../components/Button";
---

<DefaultLayout >
    <title slot="head">Sobre mí</title>
    <h1>
        Bienvenido a mi página sobre mí
    </h1>
    <Button client:visible/> <!-- Isla, componente interactivo, el js se carga cuando es visible para el cliente. -->
</DefaultLayout>