---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout >
    <title slot="head">Sobre mí</title>
    <h1>
        Bienvenido a mi página sobre mí
    </h1>
</DefaultLayout>